<div class="main_left">
    <h2><i class="menu_icon fa fa-reorder"></i></h2>
    <ul class="menu">
    <!--mail-->
        <li>
            <i class="menu_icon fa fa-file-text-o"></i>
            {#<a href="javascript:void(0);" data-id="mail" data-href="">邮件发送</a>#}
            <a href="javascript:void(0);" data-id="mail" data-href="{{ path('backend_mail_send') }}">邮件发送</a>
        </li>
    </ul>
</div>
