{% extends '@App/Backend/base.html.twig' %}

{% block body %}
    <div class="main_box new_order">
        <h2><span></span>{{ result }}</h2>

        <div class="cont_box">
            <img class="img" src="{{ asset('WebAsset/') }}images/send_ok.png"/>
        </div>
    </div>
{% endblock %}
